<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_0_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1010},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1010},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1010},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,898},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,898},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,898},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,898},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,898},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,786},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,786},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_0_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,786},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,786},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,786},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,674},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,674},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,674},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,674},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,674},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,562},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,562},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,562},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_1_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,562},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,562},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,450},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,450},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,450},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,450},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,450},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,338},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,338},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,338},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,338},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_2_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,338},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,226},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,226},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,226},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,226},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,226},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,114},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,114},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,114},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,114},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,114},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_3_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_bg4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_joker_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
            <key>card_joker_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,150}}</string>
                <key>sourceSize</key>
                <string>{110,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fbccf60b3eef7b5e802f892e54bf487:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
